body{
    background-color: #111111;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 48px;
    background: linear-gradient(to right,#fa0, #f0e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 2%;
}
.tagline{
    color: #EEEEEE;
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.apps{
    display: block;
    width: 60%;
    height: auto;
    margin: 20px auto;
}
a{
    text-decoration: underline;
    display: inline-block;
    padding: 0 20px 0 20px;
    font-size: 28px;
    color: white;
    font-weight: 900;
}
p{
    padding: 0 20px;
    font-size: 20px;
    margin: 4px 0;
}
img{
    height: 100px;
    width: auto;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
}
.app{
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    height: 120px;
    border-radius: 20px;
    color: white;
    background: #191c1d;
    padding: 40px 40px;
    border: 5px solid white;
    display: flex;
    box-shadow: rgb(6, 12, 14) -13px -13px 13px 0px,
                rgb(86, 92, 94) 13px 13px 13px 0px;
}
svg{
    filter: invert(32%) sepia(60%) saturate(5373%) hue-rotate(340deg) brightness(109%) contrast(102%);
    transform: scale(2);
}
@media (width<1300px) {
    body{
        width: 100%;
        margin-top: 10%;
        /* padding: 5%; */
    }
    .tagline{
        margin: 5% auto;
    }
    .apps{
        width: 60%;
        margin: 0;
        padding: 0;
        margin: auto;
    }
    .app{
        width: 90%;
        margin: auto;
        height: 100px;
        margin-bottom: 40px;
        padding: 40px 10px;
    }
    img{
        height: 70px;
        width: auto;
        border: 3px solid white;
        border-radius: 10px;
    }
    a{
        font-size: 18px;
        padding: 2px 10px 0 10px;
    }
}
@media (width<600px) {
    body{
        width: 100%;
        margin-top: 10%;
        /* padding: 5%; */
    }
    .tagline{
        margin: 5% auto;
    }
    .apps{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .app{
        width: 90%;
        margin: auto;
        height: 100px;
        margin-bottom: 40px;
        padding: 40px 10px;
    }
    img{
        height: 70px;
        width: auto;
        border: 3px solid white;
        border-radius: 10px;
    }
    a{
        font-size: 18px;
        padding: 2px 10px 0 10px;
    }
}

